<form class="room-filter" action="/filter" method="POST" aria-label="Filter form to filter meetingrooms">
    <div class="select-style">
        <select class="select-style" name="method" aria-label="Select box. Select an option with the arrow keys">
            <option value="No selection"></option>
            <option value="occupation" aria-label="Select option. Empty rooms first">Occupation</option>
            <option value="temperature" aria-label="Select option. Hottest rooms first">Temperature</option>
        </select>

    </div>

    <button type="submit" class="button" aria-label="Apply filter button">Apply Filter</button>
</form>